
/* large device respnsive start */

@media (min-width: 992px) and (max-width: 1199.98px) { 

    .navbar .navbar-nav .nav-item .nav-link{
        padding-right: 30px;
    }
    .navbar .cta-btn a {
        padding: 10px 16px;
        font-size: 18px;
    }

    #banner .banner-image .banner-image-slider img{
        position: static;
    }

    #banner .banner-text .banner-text-slider h1{
        font-size: 300px;
    }
 }

/* large device respnsive ends */


/* medium device respnsive start */


@media (min-width: 768px) and (max-width: 991.98px) { 
    .navbar-toggler{
        background: #fff !important;
         }

         #banner .banner-image .banner-image-slider img {
            padding-top: 90px;
            position: static;
        }

        #banner .banner-bottom-slick .banner-bottom-slider .banner-bottom .banner-bottom-box p{
            font-size: 13px;
        }

        #pricing .pricing-text .pricing-text-btn a{
            left: 253px;
        }

        #pricing .pricing-text:hover {
            transform: translateY(-20px);
        }

 }


/* medium device respnsive ends */


/* small device respnsive start */

@media (min-width: 576px) and (max-width: 767.98px) { 

    .navbar-toggler{
        background: #fff !important;
    }

    .navbar-light .navbar-toggler {
        margin-top: 67px;
        position: static;
        right: 23px;
        top: 8px; 
    }

    .navbar-collapse {
        background: #fff;
    }

    .navbar .navbar-nav{
        text-align: center;
        margin-left: 10px;
    }

    .navbar .navbar-nav .nav-item .nav-link{
        padding-top: 0px !important;
    }

    #banner .banner-image .banner-image-slider img {
        padding-top: 90px;
        position: static;
    }

    #banner .banner-bottom-slick .banner-bottom-slider .banner-bottom .banner-bottom-box h3 {
        font-size: 22px;
    }

    #pricing .pricing-text .pricing-text-btn a{
        left: 188px;
    }

    #payment .payment-left-form form input{
        width: 465px;
    }

    #footer .footer-about h5{
        padding-top: 15px;
    }

    element {
        
        top: 7881.85px;
        
    }

 }

/* small device respnsive ends */


/* xtra small device start css */

@media (min-width: 320px) and (max-width: 575.98px) { 

    .navbar-toggler{
        background: #fff !important;
    }

    .navbar-light .navbar-toggler {
        margin-top: 67px;
        position: static;
        right: 23px;
        top: 8px; 
    }

    .navbar-collapse {
        background: #fff;
    }

    .navbar .navbar-nav{
        text-align: center;
        margin-left: 10px;
    }

    .navbar .navbar-nav .nav-item .nav-link{
        padding-top: 0px !important;
    }

    #banner .banner-image .banner-image-slider {
        transform: scale(1.0);
    }

    #banner .banner-image .banner-image-slider img {
        padding-top: 90px;
        position: static;
    }

    #banner .banner-text .banner-text-slider h4{
        text-align: center;
        padding-top: 80px;

    }

    #banner .banner-text .banner-text-slider h1{
        font-size: 200px;
        margin-top: -13px;
        margin-left: 0px;
        margin-bottom: 0px;
    }

    #banner .banner-text .banner-text-slider a {
        margin-bottom: 100px;
    }

    #banner .banner-bottom .banner-bottom-box{
        transform: scale(1.0);
    }

    #banner .banner-bottom-slick .banner-bottom-slider .banner-bottom .banner-bottom-box h3{
        font-size: 22px;
    }

    #games header h3{
        padding-top: 82px;
    }

    #spin .spin-text h3{
        font-size: 28px;
    }

    #spin .spin-text p{
        font-size: 13px;
    }


    #spin .spin-text .spin-btn a{
        margin-left: 50px;
        font-size: 10px;
    }

    #pricing header h3{
        font-size: 41px;
    }

    #spin .spin-text h3{
        padding-top: 60px;
    }

    #pricing .pricing-text .pricing-text-btn a {
        margin-left: 15px;
    }

    #pricing .pricing-text{
        margin-bottom: 50px;
    }

    #pricing .pricing-text:hover {
        transform: translateY(-15px);
    }

    #payment .payment-left-form form input{
        width: 300px;
    }

    #tournament .tournament-right .tournament-right-countdown .countdown-counter #countdown {
        padding: 5px 13px;
        font-size: 13px;
    }







 }



/* xtra small device ends css */